<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="in.co.maxxwarez.skynet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeDetail"
            android:label="@string/title_activity_home_detail"
            android:parentActivityName=".myHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.maxxwarez.skynet.myHome" />
        </activity>
        <activity
            android:name=".DeviceDetail"
            android:label="@string/title_activity_device_detail"
            android:parentActivityName=".myHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.maxxwarez.skynet.myHome" />
        </activity>
        <activity
            android:name=".myHome"
            android:label="@string/title_activity_my_home"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.maxxwarez.skynet.Home" />
        </activity>
        <activity
            android:name=".tmp"
            android:label="@string/title_activity_tmp"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.maxxwarez.skynet.Home" />
        </activity>
        <activity
            android:name=".SetupHome"
            android:label="@string/title_activity_setup_home"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.maxxwarez.skynet.Home" />
        </activity>
        <activity
            android:name=".WebView"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".DeviceSetup"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.maxxwarez.skynet.DeviceSetup" />
        </activity>
        <activity
            android:name=".DeviceSetup"
            android:label="@string/title_activity_device_setup"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.maxxwarez.skynet.Home" />
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.maxxwarez.skynet.Login" />
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

</manifest>